<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Virtual Patient</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
    </head>

    
    <body>
        <div class="header">
            <div class="hdr-1">
                <a href="{% url 'home' %}">Home</a>
                {% if is_teacher %}
                <a href="{% url 'generate' %}">Generation</a>
                {% endif %}
                <a href="{% url 'select' %}">Selection</a>
                <a href="{% url 'faqs' %}" >FAQs</a>
            </div>
            <div class="hdr-2">
                <a href="{% url 'profile' %}" >{{request.user}}</a>
                
            </div>
        </div>

        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
