{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="cnt-1">
<div class = "layout">
    <div class="LoginContent">
        <div class="h1">CHANGE PASSWORD</div>
            <form method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="Save Changes">
            </form>

        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}