{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'change_password.css' %}">
<div class="cnt-1">
    <form method="POST" action="">
        <div class="h1">CHANGE PASSWORD</div>
        {% csrf_token %}
        {{ form.old_password }}
        {{ form.new_password1 }}
        {{ form.new_password2 }}
        <input class="submit" type="submit" name="Save Changes">
        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
    </form>    
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='OLD PASSWORD';
        form_fields[2].placeholder='NEW PASSWORD';
        form_fields[3].placeholder='CONFIRM PASSWORD';
    </script>
</div>
{% endblock %}