{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'faqs.css' %}">
<div class="cnt-1">
    <div class="cnt-2">
        <div class="h1">FREQUENTLY ASKED QUESTIONS</div>
        <div class="cnt-3">
            <div class="h2">Account Creation/Login</div>
            <video src="/static/videos/demo.mp4" controls></video>
            <ul class="cnt-4">
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>How do I reset my password if I forget it?</span>
                    </div>
                    <div class="a">
                        <p>Currently, there is no way to reset your password without 
                            knowing the old password.</p>
                    </div>
                </li>
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>What is the difference between a teacher and student?</span>
                    </div>
                    <div class="a">
                        <p>Teachers can generate new patients while students cannot.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cnt-3">
            <div class="h2">Patient Generation/Selection</div>
            <video src="/static/videos/demo.mp4" controls></video>
            <ul class="cnt-4">
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>How can I edit patient information?</span>
                    </div>
                    <div class="a">
                        <p>You can only edit patients which you have created. An Edit 
                            button will appear under each of your created patients.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cnt-3">
            <div class="h2">Patient Edit/Delete</div>
            <video src="/static/videos/demo.mp4" controls></video>
            <ul class="cnt-4">
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>How do I edit the patient's icon?</span>
                    </div>
                    <div class="a">
                        <p>Currently, there is no way to add custom images for patients.
                            Patient icons are determined by the patient's sex and age.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>Can I retrieve a deleted patient?</span>
                    </div>
                    <div class="a">
                        <p>Currently, there is no way to retrieve a deleted patient.</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cnt-3">
            <div class="h2">Patient Simulation</div>
            <video src="/static/videos/demo.mp4" controls></video>
            <ul class="cnt-4">
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>How can I save my conversation with a patient?</span>
                    </div>
                    <div class="a">
                        <p>
                            The only way to save the conversation is to successfully 
                            diagnose the patient. If you leave the simulation during 
                            a conversation, progress will be lost.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>Can I reset the simulation?</span>
                    </div>
                    <div class="a">
                        <p>
                            After diagnosing the patient, your conversation is saved 
                            and cannot be reset. If you leave the simulation during 
                            a conversation, your progress will be reset once you 
                            simulate the same patient.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cnt-3">
            <div class="h2">Miscellaneous</div>
            <video src="/static/videos/demo.mp4" controls></video>
            <ul class="cnt-4">
                <li>
                    <div class="q">
                        <span class="arrow"></span>
                        <span>How can I change my password?</span>
                    </div>
                    <div class="a">
                        <p>
                            Click your username on the top-right of the page to 
                            enter your Profile Settings. There will be an option 
                            to change your password. You must know your old password.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="cnt-3">
            <div class="h2">Contact</div>
            <div class="h3">If you have any more questions, please contact allsvirtualpatient@gmail.com.</div>
        </div>
    </div>

    <script>
        // Add Dropdown
        const q = document.querySelectorAll('.q');
        const a = document.querySelectorAll('.a');
        const arr = document.querySelectorAll('.arrow');
        for(let i=0; i<q.length; i++){
            q[i].addEventListener('click', () => {
                a[i].classList.toggle('a-opened');
                arr[i].classList.toggle('arrow-rotated');
            });
        }
    </script>
</div>
{% endblock %}