{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">

    <div class="h1">Virtual Patient</div>
    <div class="subtitle">ALLS-VAMR Project in collaboration with ASMPH</div>
    <div class = "layout">
        <div class="description"> What is Virtual Patient?</div>

            <p>
            Virtual Patient is an AI-supported <br> simulation to help
            train <br> medical students in Medical History <br>taking. 
            </p>
        </div>

    <img alt="home" src="/static/images/stand-in home.png" class="home">
    <!-- <img alt="home2" src="/static/images/stand-in home2.png" class="home2"> -->
{% endblock %}