{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'login.css' %}">
<div class="cnt-1">
<div class = "layout">
    <div class="LoginContent">
        <div class="h1">LOGIN</div>
            <form method="POST" action="">
                {% csrf_token %}
                <input name="username" placeholder="Username">
                <input name="password" placeholder="Password">
                <input type="submit" name="Login User">
            </form>

        {% for message in messages%}
            <p>{{message}}</p>
        {% endfor %}
        <a href="{% url 'register' %}">Create account</a>
    </div>
</div>
</div>
{% endblock %}