{% extends 'virtualpatient/base.html' %}

{% block content %}
    <h1>Register</h1>
    <div>
        <form method="POST" action="">
            {% csrf_token %}
            {{form.username.label}}
            {{form.username}}

            {{form.email.label}}
            {{form.email}}

            {{form.password1.label}}
            {{form.password1}}
            
            {{form.password2.label}}
            {{form.password2}}  
            <label>Group        
                <select name="group">
                    <option value="teacher">teacher</option>
                    <option value="student">student</option>
                </select>
            </label>  
            <input type="submit" name="Create User">
        </form>
    </div>
    
    {{form.errors}}

    <a href="{% url 'login' %}">Login</a>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Password';
        form_fields[4].placeholder='Confirm Password';
    </script>
{% endblock %}