<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Virtual Patient</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'login.css' %}">
    </head>
    <div class="content">
        <div class="cnt-1">
            <h1>Register</h1>
            <form method="POST" action="">
                {% csrf_token %}
                {{form.username}}
                {{form.email}}
                {{form.password1}}
                {{form.password2}}  
                <label>Group        
                    <select name="group">
                        <option value="teacher">teacher</option>
                        <option value="student">student</option>
                    </select>
                </label>  
                <input type="submit" name="Create User">
            </form>
            {{form.errors}}
            <a href="{% url 'login' %}">Login</a>
        </div>
    </div>
        

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Username';
        form_fields[2].placeholder='Email';
        form_fields[3].placeholder='Password';
        form_fields[4].placeholder='Confirm Password';
    </script>