<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Virtual Patient</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="stylesheet" href="{% static 'register.css' %}">
    </head>
    
    <div class="cnt-1">
        <form method="POST" action="">
            <div class="h1">CREATE ACCOUNT</div>
            {% csrf_token %}
            {{form.username}}
            {{form.email}}
            {{form.password1}}
            {{form.password2}}
            <label>ROLE        
                <select name="group">
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
            </label>
            <input class="submit" type="submit" name="Create User" value="SUBMIT">
            {{form.errors}}
            <a href="{% url 'login' %}">Login</a>
        </form>
    </div>

    <script>
        // Add Placeholders
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='USERNAME';
        form_fields[2].placeholder='EMAIL';
        form_fields[3].placeholder='PASSWORD';
        form_fields[4].placeholder='CONFIRM PASSWORD';
    </script>
</html>