{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'select.css' %}">
    <div class="cnt-1">
        {% for patient in patients %}
            <div class="patient">
                <div class="details">
                    <div>
                        <img alt="user" src="/static/{{patient.image}}/" class="user">
                    </div>
                    <div>
                        <p>{{patient.last_name}}, {{patient.first_name}}</p>
                        <p>Age: {{patient.age}}</p>
                        <p>Gender: {{patient.sex}}</p>
                        <p>Language: {{patient.language}}</p>
                        <p>Teacher: {{patient.created_by}}</p>
                    </div>
                </div>
                {% if patient in diagnosed %}
                    <a href="{% url 'simulate' pk=patient.pk %}">VIEW CONVERSATION</a>
                {% else %}                    
                    <a href="{% url 'simulate' pk=patient.pk %}">SIMULATE PATIENT</a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
