{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'simulate.css' %}">
<body>
    <div class="cnt-1">
        <div>
            <img alt='bot-icon' src="{% static 'images/gpt.jpg' %}" class="bot-icon">
        </div>
        <div class="cnt-2">
            <div class="chat-box">
                <!-- Chat messages will be added here dynamically -->
            </div>
            <div class="entry-box">
                <textarea class="form-control" id="message-input" placeholder="Type your message here"></textarea>
                <button type="button" id="btn">Send</button>
            </div>
        </div>
        <div>
            <img alt='user-icon' src="{% static 'images/user.png' %}" class="user-icon">
        </div>
    </div>
    <script>
        // Function to highlight code using highlight.js library
        function highlightAll() {
            document.querySelectorAll("pre code").forEach(block => {
                hljs.highlightBlock(block);
            });
        }

        const chatBox = document.querySelector(".chat-box");
        const messageInput = document.querySelector("#message-input");
        const sendBtn = document.querySelector("#btn");

        function addMessage(message, isUserMessage) {
            const messageDiv = document.createElement("div");
            if (isUserMessage) {
                messageDiv.classList.add("user-message");
                messageDiv.innerHTML = `<p class="user-text">${message}</p>`;
            } else {
                messageDiv.classList.add("bot-message");
                messageDiv.innerHTML = `<p class="bot-text">${message}</p>`;
            }

            chatBox.appendChild(messageDiv);
            chatBox.scrollTop = chatBox.scrollHeight;
        }

        function sendMessage() {
            const message = messageInput.value.trim();

            if (message !== "") {
                addMessage(message, true);

                fetch("/simulate/{{ patientId }}/", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ message })
                })
                .then(response => response.json())
                .then(data => {
                    messageInput.value = "";
                    const messageDiv = document.createElement("div");
                    messageDiv.classList.add("bot-message");

                    const content = data.content;

                    // Check if the content has a code block
                    const hasCodeBlock = content.includes("```");
                    if (hasCodeBlock) {
                        // If the content has a code block, wrap it in a <pre><code> element
                        const codeContent = content.replace(/```([\s\S]+?)```/g, '</p><pre><code>$1</code></pre><p>');

                        messageDiv.innerHTML = `<p class="bot-text">${codeContent}</p>`;
                    } else {
                        messageDiv.innerHTML = `<p class="bot-text">${content}</p>`;
                    }
                    chatBox.appendChild(messageDiv);
                    chatBox.scrollTop = chatBox.scrollHeight;
                    highlightAll();  // Highlight code after adding the message
                })
                .catch(error => console.error(error));
            }
        }

        sendBtn.addEventListener("click", sendMessage);
        messageInput.addEventListener("keydown", event => {
            if (event.keyCode === 13 && !event.shiftKey) {
                event.preventDefault();
                sendMessage();
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/highlight.js@10.7.2/lib/languages/python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
</body>

</html>
{% endblock %}
