{% extends 'virtualpatient/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'simulate.css' %}">
<div class="cnt-1">
    <div class="icon">
        <img alt='icon' src="/static/{{image}}/" class="img">
    </div>
    <div class="cnt-2">
        <div class="chat-box">
            {% for text in conversation %}
                {% if text.role == "user" %}
                    <div class="user-message"><p class="user-text">{{ text.content }}</p></div>
                {% elif text.role == "assistant" %}
                    <div class="bot-message"><p class="bot-text">{{ text.content }}</p></div>
                {% endif %}
            {% endfor %}
            <div id="language-popup" class="popup-window">
                <div class="popup-content">
                    <p>The patient does not understand this language. Please use {{ patient_language }}.</p>
                    <button id="popup-ok-button">OK</button>
                </div>
            </div>
        </div>
        <div class="entry-box">
            <textarea class="form-control" id="message-input" placeholder="Type your message here"></textarea>
            <button type="button" id="btn">Send</button>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const chatBox = document.querySelector(".chat-box");
            const messageInput = document.querySelector("#message-input");
            const sendBtn = document.querySelector("#btn");
            const popup = document.querySelector("#language-popup");            
            popup.style.display = "none";
            const popOkButton = document.querySelector("#popup-ok-button");
            var provocation = false;
            var quality = false;
            var region = false;
            var severity = false;
            var timing = false;
            var diagnosis = false;
    
            function sendMessage() {
                const message = messageInput.value.trim();
                if (message !== "") {    

                    // Send message to views.py
                    fetch("/simulate/{{ pk }}/", {
                        method: "POST",
                        headers: {"Content-Type": "application/json"},
                        body: JSON.stringify({ role: "user", message: message })
                    })
                    .then(response => response.json())
                    .then(data => {

                        // Popup Wrong Language
                        if (data.language) {
                            popup.style.display = "block";
                            messageInput.value = "";
                            return;
                        }

                        // Display User Message
                        const userMessageDiv = document.createElement("div");
                        userMessageDiv.classList.add("user-message");
                        userMessageDiv.innerHTML = `<p class="user-text">${message}</p>`;
                        chatBox.appendChild(userMessageDiv);
                        chatBox.scrollTop = chatBox.scrollHeight;                
                        messageInput.value = "";

                        // Display Bot Message    
                        const botMessageDiv = document.createElement("div");
                        botMessageDiv.classList.add("bot-message");
                        botMessageDiv.innerHTML = `<p class="bot-text">${data.content}</p>`;
                        chatBox.appendChild(botMessageDiv);
                        chatBox.scrollTop = chatBox.scrollHeight;

                        // Check PQRST and Diagnosis
                        try{
                            if (data.supervisor.toLowerCase().includes("provocation")){
                                console.log("provocation");
                                provocation = true;
                            }
                            if (data.supervisor.toLowerCase().includes("quality")){
                                console.log("quality");
                                quality = true;
                            }
                            if (data.supervisor.toLowerCase().includes("region")){
                                console.log("region");
                                region = true;
                            }
                            if (data.supervisor.toLowerCase().includes("severity")){
                                console.log("severity");
                                severity = true;
                            }
                            if (data.supervisor.toLowerCase().includes("timing")){
                                console.log("timing");
                                timing = true;
                            }
                            if(data.supervisor.toLowerCase().includes("diagnosis")){
                                console.log("diagnosis");
                                diagnosis = true;
                            }
                        } catch(err) {
                            console.log("Supervisor Error");
                        }
                        console.log(`Provocation: ${provocation}\nQuality: ${quality}\nRegion: ${region}\nSeverity: ${severity}\nTiming: ${timing}`);

                        if (diagnosis){
                            // End and Save Conversation
                            messageInput.style.display = "none";
                            sendBtn.style.display = "none";
                            chatBox.style.height = "90dvh";
                            window.onbeforeunload = null;
                            var texts = document.querySelectorAll(".chat-box>*>*");
                            conversation = [];
                            for(i=0;i<texts.length;i++){
                                if(texts[i].className=="user-text"){
                                    conversation.push({"role": "user", "content" : texts[i].textContent});
                                }else{
                                    conversation.push({"role": "assistant", "content" : texts[i].textContent});
                                }
                            };
                            // Send conversation to views.py
                            fetch("/simulate/{{ pk }}/", {
                                method: "POST",
                                headers: {"Content-Type": "application/json"},
                                body: JSON.stringify({ diagnosis: diagnosis, conversation: JSON.stringify(conversation) })
                            })
                            .catch(error => console.error(error))

                        } else if (provocation && quality && region && severity && timing){
                            // Send diagnose-me to views.py
                            fetch("/simulate/{{ pk }}/", {
                                method: "POST",
                                headers: {"Content-Type": "application/json"},
                                body: JSON.stringify({ role: 'system', message: "Ask for your diagnosis in a short sentence." })
                            })
                            .then(response => response.json())
                            .then(data => {
                                // Display Bot Message
                                const messageDiv = document.createElement("div");
                                messageDiv.classList.add("bot-message");
                                messageDiv.innerHTML = `<p class="bot-text">${data.content}</p>`;
                                chatBox.appendChild(messageDiv);
                                chatBox.scrollTop = chatBox.scrollHeight;                        
                            })
                            .catch(error => console.error(error));
                        }
                    })
                    .catch(error => console.error(error));
                }
            }

            // Leave Site Popup
            window.onbeforeunload = function(event){
                event.returnValue = "?";
            };

            // Send Button
            sendBtn.addEventListener("click", sendMessage);
            messageInput.addEventListener("keydown", event => {
                if (event.keyCode === 13 && !event.shiftKey) {
                    event.preventDefault();
                    sendMessage();
                }
            });

            // Popup Button    
            popOkButton.addEventListener("click", () => {
                popup.style.display = "none";
                messageInput.value = "";
            });

            // Check Diagnosed
            if ('{{diagnosed}}'=="True"){
                console.log("Already diagnosed");
                diagnosis = true;          
                messageInput.style.display = "none";
                sendBtn.style.display = "none";
                chatBox.style.height = "90dvh";
                window.onbeforeunload = null;
            }
        });
    </script>
</div>
{% endblock %}
