*{
    font-family: 'Franklin Gothic Medium';    
    margin: 0px;
    padding: 0px;
}

html{    
    background: #6cf;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #036;
}

.hdr-1{
    display: flex;
    align-items: center;
}

.hdr-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

a{
    margin: 0.75rem 0.5svw;
    border-radius: 6px;
    padding: 0.5rem 0.5svw;
    width: 13svw;
    max-height: 1.5rem;
    max-width: fit-content;
    background: #fafafa;
    font-size: clamp(0.75rem, 1.5svw, 1.5rem);
    color: #e69;
    overflow-x: clip;
    white-space: nowrap;
}

.content{
    height: 93svh;
}