.cnt-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.cnt-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4rem;
    border: solid #036 min(0.5rem, 0.5svw);
    border-radius: 1rem;
    padding: 3svw;
    width: min(80svw, 1000px);
    background: #fafafa;
}

.h1{
    font-size: min(4svw, 3rem);    
    letter-spacing: min(0.5svw, 0.5rem);
    color:#e69;
    margin-bottom: 2cqi;    
}

.cnt-3{
    margin: 1rem;
    width: min(100%, 800px);
}

.h2{
    font-size: min(3svw, 2rem);
    color: #036;
}

video{
    width: 100%;
    border-radius: 1rem;
    margin: 1rem 0;
}

.cnt-4{
    list-style: none;
    background: #036;
    border-radius: 0.5rem;
    margin: 0 auto;
}

li{
    width: 100%;
    font-size: min(2svw, 1rem);
    color: #fafafa;
    border-bottom: solid #fafafa 3px;
}

.arrow{
    display: inline-block;
    margin: 0 min(1svw, 0.5rem);
    width: 0;
    height: 0;
    border-top: solid transparent min(1svw, 0.5rem);
    border-left: solid #fafafa min(2svw, 1rem);
    border-bottom: solid transparent min(1svw, 0.5rem);
    transition: 0.3s;
}

.arrow-rotated{
    transform: rotate(90deg);
}

.q{
    padding: min(2svw, 1rem);
    cursor: pointer;
}

.a{
    overflow: hidden;
    padding: 0 0 0 min(8svw, 4rem);
    height: 0;
    transition: 0.3s;
}

.a-opened{
    padding: 0 min(2svw, 1rem) min(2svw, 1rem) min(8svw, 4rem);
    height: initial;
}

