.cnt-1{
    height:80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#036;
}

.h1{
    font-size: 70px;
    letter-spacing: 7px;
    text-align:center;
    position: absolute;
    right:75px;
    top: 180px;
}

.subtitle{
    font-size: 15px;
    text-align: center;
    position: absolute;
    right:180px;
    top: 250px;
}

.description{
    font-size: 20px;
    text-align: left;
    position: absolute;
    right: 400px;
    top:350px; 
}

p{
    font-size: 18px;
    text-align: left;
    position: absolute;
    right:40px;
    top:380px;   
    width: 550px;
    height:150px;
    padding: 10px;
    background-color: #fafafa;
    border-radius: 6px;
}

.home{
    position: absolute;
    top:290px;
    right:80px;
    width:250px;
    height:280px;
}

.home2{
    position: absolute;
    top:140px;
    left:80px;
    width:350px;
    height:330px;
    background-color: #036;
    border-radius: 40px;
    padding: 20px;
}