.content {
    height: 70svh;
}

.cnt-1{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 10svh 5svw;
}

.icon{
    object-fit: contain;
    width: 40svw;
}

.cnt-3{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    color: #036;
    width: 60svw;
    container-type: inline-size;
}

.h1{
    font-size: 15cqi;
}

.h2{
    font-size: 3cqi;
}

.h3{
    background-color: #5be;
    margin: 4cqi 2cqi;
    border-radius: 2cqi;
    padding: 2cqi 3cqi 2cqi 2cqi;
    width: 40%;
    font-size: 2.5cqi;
}

.btn{
    margin: 0cqi 2cqi;
    border-radius: 3cqi;
    padding: 1.5cqi;
    background-color: #036;
    color: #fafafa;
    font-size: 2cqi;
    width: 30%;
}


@media (max-width: 1000px){
    .cnt-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10svh 5svw 0svh 5svw;
    }

    .icon{
        width: 60svw;
    }

    .cnt-3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .h2, .h3, .btn{
        font-size: 4cqi;
        width: auto;
    }
}
