.cnt-1{
    height:80dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#036;
}

.h1{
    font-size:100px;
}

.h2{
    font-size:60px;
}