.cnt-1{    
    display: grid;
    place-items: center;
    margin-top: 10svh;
    height: 60svh;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid min(0.5rem, 0.5svw) #036;
    border-radius: 1svh;
    padding: 3svh;
    width: min(400px, 66svw);
    aspect-ratio: 8/7;
    background-color: #fafafa;
    container-type: inline-size;
}

.h1{
    margin-bottom: 6cqi;
    font-size: 8cqi;
    letter-spacing: 1cqi;
    color:#e69;
    text-align:center;
}

input:focus{
    border: solid 0.125rem #036;
}

input{
    margin-bottom:3cqi;
    border: solid 0.1rem #036;
    border-radius: 8px;
    padding: 2cqi;
    font-size: 6cqi;
    color: #036;
}

.cnt-2{
    display: block;
    position: relative;
    font-size: 5cqi;
    color: #036;
    cursor: pointer;
}

.checkbox {
    display: none;
}

.checkmark {
    position: absolute;
    margin-left: 3cqi;
    border-radius: 1.5cqi;
    height: 6cqi;
    width: 6cqi;
    background-color: #eee;
}

.cnt-2 input:checked ~ .checkmark {
    background-color: #036;
}

.checkmark:after {
    position: absolute;
    display: none;
    content: "";
}

.cnt-2 input:checked ~ .checkmark:after{
    display: block;
}

.cnt-2 .checkmark:after{
    border: solid 1cqi #fafafa;
    border-width: 0 1cqi 1cqi 0;
    left: 2cqi;
    top: 1.5cqi;
    width: 1cqi;
    height: 2cqi;
    transform: rotate(45deg);
}

.submit:focus, .submit:active, .submit:hover{
    border: solid 0.125rem #036;
}

.submit{
    margin-top: 10px;
    border: solid 0.125rem #fafafa;
    border-radius: 100svw;
    background:#e69;
    color:#fafafa;
}

p {
    font-size: 5cqi;
    color: #036;
}

a{
    margin: 0px 0px 0px 5px;
    padding: 1svh 0px 2svh 0px;
    background: none;
    font-size: 5cqi;
    color:#036;
    overflow-x: visible;
    text-decoration: underline;
}