.h1{
    font-size: 18px;
    letter-spacing: 3px;
    text-align:center;
    position:relative;
    top: 50px;
    color:#e69;

}

.layout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

form{
    background-color: #fafafa;
    width: 320px;
    height:270px;
    padding:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin: 4px;
    border-radius: 8px;
    border:solid;
    border-radius: 8px;
    border-bottom: 30px;
    border-right: 30px;
    border-color: #036;
}

.link {
    color:#e69;
    text-align: center;
}



