.cnt-1{
    height: 60svh;
    display: grid;
    place-items: center;
    container-type: inline-size;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 3svh;
    border-radius: 1svh;
    padding: 3svh;
    height: clamp(0px, 60svh, 400px);
    aspect-ratio: 13/16;
    background-color: #fafafa;
    container-type: inline-size;
    overflow-y: hidden;
}

.h1{
    font-size: 8cqi;
    letter-spacing: 1cqi;
    text-align:center;
    color:#e69;
    margin-bottom: 6cqi;
}

input:focus, select:focus {
    outline: none;
    border: solid 0.125rem #036;
}

input, select{
    margin-bottom:3cqi;
    border: solid 0.1rem #036;
    border-radius: 8px;
    padding: 2cqi;
    font-size: 6cqi;
    color: #036;
}

label{
    font-size: 6cqi;
    color: #036;
}

select{
    margin-left: 1svw;
    width: 35cqi;
}

.submit{
    border: 2px solid #e69;
    border-radius: 100svw;
    background:#e69;
    color:#fafafa;
    margin-top: 10px;
}

::marker, form>ul>li{
    font-size:0px;
}

ul>li>ul>li{
    font-size: 5cqi;
    color: #036;
}


a:link { text-decoration: underline; }
a:visited { text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { text-decoration: underline; }

a{
    color:#036;
    margin: 0px 0px 0px 5px;
    padding: 1svh 0px 2svh 0px;
    background: none;
    font-size: 5cqi;
}



