.cnt-1{
    display:grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 50px;
    column-gap:25px;
    margin:50px;
}

.patient{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:220px;
}

.details{
    display:flex;
    flex-direction:row;
    align-items: center;
    border:2px solid #e69;
    border-radius:10px;
    padding:10px;
    width:300px;
    background: #fafafa;
}

img{
    margin: 10px;
    border-radius: 100px;     
    object-fit: cover;
    height: 100px;
    width:100px;
}

.btn{
    padding: 10px;
    border-radius:70px;
    width: 170px;
    background: #fafafa;
    text-align: center;
    color: #e69;

}