.cnt-1{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cnt-2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 4rem;
    border: solid #036 min(0.5rem, 0.5svw);
    border-radius: 1rem;
    padding: 3svw;
    width: 80svw;
    background: #fafafa;
}

.h1{
    margin-bottom: 2cqi;
    align-self: center;
    font-size: min(5svw, 3rem);
    letter-spacing: min(0.5svw, 0.5rem);
    color:#e69;
}

.cnt-3{
    display:grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-around;
    row-gap: min(4rem, 20svw);
    column-gap: 25px;
}

.patient{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: min(330px, 80svw);
}

.details{
    display:flex;
    flex-direction:row;
    align-items: center;
    border: solid #036 min(0.20rem, 0.25svw);
    border-radius:10px;
    padding: min(0.75rem, 3svw) min(0.5rem, 2svw);
    background: #eee;
    font-size: min(3svw, 1rem);
    color: #036;
}

img{
    margin-right: min(0.75rem, 3svw);
    border-radius: 100px;
    height: min(20cqi, 100px);
    aspect-ratio: 1;
    background: rgba(1, 1, 1, 0.1);
    object-fit: cover;
}

.btn:focus, .btn:active, .btn:hover{
    border: solid 0.125rem #036;
}

.btn{
    margin: 1cqi;
    border: solid 0.125rem #fafafa;
    border-radius: 30px;
    padding: 0.75rem;
    width: fit-content;
    background: #e69;
    font-size: min(1rem, 5svw);
    color: #fafafa;
    text-decoration: none;
}