body {
    margin: 0;
    padding: 0;
}

.cnt-1{
    display: flex;
    align-items: center;
    max-width: 100%;
    background-size: 100% 100%;
    background-image: url('images/background.png');
    background-attachment: fixed;
}

.cnt-2{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    margin: 10px;
}

.bot-icon {
    width: 40dvw;
    max-height: 92dvh;
    object-fit: cover;
}

.chat-box {
    align-items: stretch;
    border-radius: 20px;
    height: 80dvh;
    background: rgba(0, 0, 0, 10%);
    overflow: auto;
}

.user-message{ 
    display: flex;
    justify-content: flex-end;
}

.user-text {
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    background-color: #09f;
    padding: 20px;
    max-width: 60%;
    font-size: 20px;
    color: #fafafa;
    word-wrap: break-word;
}

.bot-text { 
    margin: 10px 20px 10px 20px;
    border-radius: 20px;
    padding: 20px;
    max-width: 60%;
    background-color: #e69;
    font-size: 20px;
    color: #111;
    word-wrap: break-word;
}

.entry-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-control {
    margin: 8px 5px;
    border: 5px solid #036;
    border-radius:20px;
    padding: 12px;
    width: 80%;
    box-sizing: border-box;
    background-color: #eee;
    font-size: 20px;
    resize: none;
}

#btn{
    margin: 10px;
    border: 3px solid #036;
    border-radius: 30px;
    padding: 10px;
    width: 75px;
    background: #fafafa;
    font-size: 20px;
    color: #036;
}

#save{
    margin: 10px;
    border: 3px solid #e69;
    border-radius: 30px;
    padding: 10px;
    width: 75px;
    background: #fafafa;
    font-size: 20px;
    color: #e69;
}